<!DOCTYPE html>
<html lang="pt-BR">

<link rel="stylesheet" href="/custom.css">

<head>
    <meta charset="UTF-8">
    <title>Área Administrativa</title>
</head>


<body>

<h1>Área Administrativa</h1>

<h2>Menu Administrativo</h2>

<p>Selecione uma funcionalidade:</p>

<br>

<a href="/admin/clientes">
    <button type="button">Consultar clientes</button>
</a>

<br><br>

<a href="/admin/pedidos">
    <button type="button">Consultar pedidos</button>
</a>

<br><br>

<a href="/admin/status">
    <button type="button">Alterar status dos pedidos</button>
</a>

<br><br>

<a href="/admin/grafico">
    <button type="button">Gráfico de análise</button>
</a>

<br><br>

<a href="/">
    <button type="button">Voltar para início</button>
</a>

</body>

</html>