<!DOCTYPE html>
<html lang="pt-BR">

<link rel="stylesheet" href="/custom.css">

<head>
    <meta charset="UTF-8">
    <title>Cadastrar Cliente</title>
</head>

<body>

<h1>Cadastrar Cliente</h1>

<form>

    <label>Nome:</label>
    <input type="text" name="nome">

    <br><br>

    <label>CPF:</label>
    <input type="text" name="cpf">

    <br><br>

    <label>E-mail:</label>
    <input type="email" name="email">

    <br><br>

    <label>Telefone:</label>
    <input type="text" name="telefone">

    <br><br>

    <label>Senha:</label>
    <input type="password" name="senha">

    <br><br>

    <button type="submit">Cadastrar</button>
    <a href="/">
        <button type="button">Voltar</button>
    </a>

</form>

</body>
</html>