<!DOCTYPE html>
<html lang="pt-BR">

<link rel="stylesheet" href="/custom.css">

<head>
    <meta charset="UTF-8">
    <title>Livros</title>
</head>

<body>

<h1>Livros</h1>

<h2>Catálogo de livros</h2>

<hr>

<h3>Dom Casmurro</h3>
<p>Autor: Machado de Assis</p>
<p>Preço: R$ 39,90</p>

<a href="/carrinho">
    <button type="button">Adicionar ao carrinho</button>
</a>

<hr>

<h3>O Pequeno Príncipe</h3>
<p>Autor: Antoine de Saint-Exupéry</p>
<p>Preço: R$ 29,90</p>

<a href="/carrinho">
    <button type="button">Adicionar ao carrinho</button>
</a>

<hr>

<h3>Harry Potter e a Pedra Filosofal</h3>
<p>Autor: J. K. Rowling</p>
<p>Preço: R$ 49,90</p>

<a href="/carrinho">
    <button type="button">Adicionar ao carrinho</button>
</a>

<br><br>

<a href="/">
    <button type="button">Voltar</button>
</a>

</body>

</html>