<!DOCTYPE html>
<html lang="pt-BR">

<link rel="stylesheet" href="/custom.css">

<head>
    <meta charset="UTF-8">
    <title>Entrar</title>
</head>

<body>

<h1>Entrar</h1>

<form>

    <label>E-mail:</label>
    <input type="email" name="email">

    <br><br>

    <label>Senha:</label>
    <input type="password" name="senha">

    <br><br>

    <button type="button">Entrar</button>

</form>

<br>

<a href="/cadastro">
    <button type="button">Criar conta</button>
</a>

<br><br>

<a href="/">
    <button type="button">Voltar</button>
</a>

</body>

</html>